<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h2>Create an account</h2>

        <!-- SignUp formGroup -->
        <form [formGroup]="signUpForm" (ngSubmit)="submitForm()">
            <!-- User name -->
            <div class="form-group">
                <label for="user_name">User name</label>
                <input type="text" id="user_name" class="form-control" formControlName="user_name">
            </div>

            <!-- Password -->
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" formControlName="password">
            </div>

            <!-- Create account button -->
            <button class="btn btn-primary"
                    type="submit"
                    [disabled]="signUpForm.invalid">
                Create account
            </button>
        </form>
    </div>
</div>
