<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h2>Connection</h2>

        <!-- SignIn formGroup -->
        <form [formGroup]="signInForm" (ngSubmit)="submitForm()">
            <!-- User name -->
            <div class="form-group">
                <label for="user_name">User name</label>
                <input type="text" id="user_name" class="form-control" formControlName="user_name">
            </div>

            <!-- Password -->
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" formControlName="password">
            </div>

            <!-- Connection button -->
            <button class="btn btn-primary"
                    type="submit"
                    [disabled]="signInForm.invalid">
                Connection
            </button>
        </form>

    </div>
</div>
